<!-- Kontak Informasi -->
<section class="layout-pt-120 layout-pb-100" style="margin-top: 40px;">
  <div class="container">
    <div class="row justify-center">
      <div class="col-xl-10 col-lg-11">
        
        <!-- Section Title -->
        <div class="row justify-center text-center pt-120">
          <div class="col-xl-8 col-lg-10">
            <div class="sectionTitle">
              <h2 class="sectionTitle__title text-36 lh-12 fw-700 mb-25">Kontak Informasi</h2>
              <p class="sectionTitle__text text-18 lh-16 text-dark-2">Hubungi kami untuk informasi lebih lanjut tentang pendaftaran. Tim kami siap membantu Anda dengan senang hati.</p>
            </div>
          </div>
        </div>

        <div class="row y-gap-40 x-gap-30 pt-60">
          <!-- Alamat Sekolah -->
          <div class="col-lg-4 col-md-6">
            <div class="coursesCard -type-1">
              <div class="relative">
                <div class="coursesCard__image overflow-hidden rounded-8">
                  <div class="d-flex justify-center items-center bg-blue-1 h-250">
                    <i class="fas fa-map-marker-alt text-white" style="font-size: 60px;"></i>
                  </div>
                </div>
              </div>
              <div class="h-100 pt-15">
                <h5 class="text-16 fw-500 text-dark-1">Alamat Sekolah</h5>
                <div class="d-flex x-gap-15 items-center pt-15">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-check-circle text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">Jl. Pramuka No.43</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-check-circle text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">Kemiling Raya</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-check-circle text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">Bandar Lampung 35153</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Kontak Pendaftaran -->
          <div class="col-lg-4 col-md-6">
            <div class="coursesCard -type-1">
              <div class="relative">
                <div class="coursesCard__image overflow-hidden rounded-8">
                  <div class="d-flex justify-center items-center bg-green-1 h-250">
                    <i class="fas fa-phone text-white" style="font-size: 60px;"></i>
                  </div>
                </div>
              </div>
              <div class="h-100 pt-15">
                <h5 class="text-16 fw-500 text-dark-1">Kontak Pendaftaran</h5>
                <div class="d-flex x-gap-15 items-center pt-15">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-phone text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">(0721) 8050145</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fab fa-whatsapp text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">085824698742</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-envelope text-blue-1"></i>
                    </div>
                    <div class="text-14 lh-1">info@smaitbaituljannah.sch.id</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Jam Pelayanan -->
          <div class="col-lg-4 col-md-6">
            <div class="coursesCard -type-1">
              <div class="relative">
                <div class="coursesCard__image overflow-hidden rounded-8">
                  <div class="d-flex justify-center items-center bg-orange-1 h-250">
                    <i class="fas fa-clock text-white" style="font-size: 60px;"></i>
                  </div>
                </div>
              </div>
              <div class="h-100 pt-15">
                <h5 class="text-16 fw-500 text-dark-1">Jam Pelayanan</h5>
                <div class="d-flex x-gap-15 items-center pt-15">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-check-circle text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">Senin - Jumat: 08.00 - 15.00 WIB</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-check-circle text-green-1"></i>
                    </div>
                    <div class="text-14 lh-1">Sabtu: 08.00 - 12.00 WIB</div>
                  </div>
                </div>
                <div class="d-flex x-gap-15 items-center pt-10">
                  <div class="d-flex items-center">
                    <div class="mr-8">
                      <i class="fas fa-times-circle text-red-1"></i>
                    </div>
                    <div class="text-14 lh-1">Minggu: Tutup</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Informasi Tambahan -->
        <div class="row justify-center pt-60">
          <div class="col-xl-10">
            <div class="bg-light-6 rounded-16 px-40 py-30">
              <div class="row items-center">
                <div class="col-lg-8">
                  <h5 class="text-20 fw-600 text-dark-1 mb-15">Kunjungi Sekolah Kami</h5>
                  <p class="text-16 text-dark-2 mb-0">Kami mengundang Anda untuk berkunjung langsung ke sekolah kami. Tim kami akan dengan senang hati memberikan tour fasilitas sekolah dan menjawab semua pertanyaan Anda tentang program pendidikan di SMAIT Baituljannah.</p>
                </div>
                <div class="col-lg-4 text-lg-end">
                  <a href="/contact" class="button -md -green-1 text-white px-30 py-15 rounded-8">
                    <i class="fas fa-calendar-alt mr-10"></i>
                    Jadwalkan Kunjungan
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>